#include "../../../config/all.xcconfig"

// add to project setting
HEADER_SEARCH_PATHS = $(HEADER_CINDER) $(HEADER_BOOST) $(HEADER_CAIRO) $(HEADER_CV) $(HEADER_SNDFILE) $(HEADER_MTB)
LIBRARY_SEARCH_PATHS = $(LIB_PATH_CINDER) $(LIB_PATH_CAIRO) $(LIB_PATH_CV) $(LIB_PATH_SNDFILE)
OTHER_LDFLAGS = $(LDFLAG_CINDER_R) $(LDFLAG_CAIRO) $(LDFLAG_CV) $(LDFLAG_SNDFILE)
