#include "../../../config/all.xcconfig"

// add to project setting
HEADER_SEARCH_PATHS = $(HEADER_CINDER) $(HEADER_BOOST) $(HEADER_CAIRO) $(HEADER_CV) $(HEADER_MTB)
LIBRARY_SEARCH_PATHS = $(LIB_PATH_CINDER) $(LIB_PATH_CAIRO) $(LIB_PATH_CV)
OTHER_LDFLAGS = $(LDFLAG_CINDER_D) $(LDFLAG_CAIRO) $(LDFLAG_CV)
